<h3>Current TripleO Stats</h3>
<div class="card-group">
    <div class="card card-block" *ngFor="let data of chart_data">
        <div class="card-header">{{ data.status_type | titlecase }}</div>
        <div class="card-body text-primary">
            <p class="card-text">
            <ngx-charts-pie-chart
               [results]="data.data"
               [view]="view"
               [scheme]="colorScheme"
               [results]="single"
               [legend]="showLegend"
               [explodeSlices]="explodeSlices"
               [labels]="showLabels"
               [doughnut]="doughnut"
               [gradient]="gradient"
               [legendPosition]="legendPosition">
            </ngx-charts-pie-chart>
            </p>
        </div>
    </div>
</div>
