<ng-container *ngIf="categories">
    <h3>{{ job_type.job_description }}</h3>
    <div class="row">
        <div class="col-sm my-4">
            <p>
            <button type="button" class="btn btn-outline-primary"
                    (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseChart">
                Show/Hide chart
            </button>
            </p>
            <div id="collapseChart" [ngbCollapse]="isCollapsed">
                <div class="card">
                    <div class="card-body">
                        You can collapse this card by clicking Toggle
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm" *ngFor="let category of categories.jobs">
            <jobs-category [category]="category"></jobs-category>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!categories">
    <h3>Job category not found</h3>
</ng-container>
