<ng-container *ngIf="jobs.length > 0">
    <h3>Results for job {{ job_name }}</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
                <th scope="col" sortable="reason" (sort)="onSort($event)">Reason</th>
                <th scope="col" sortable="review" (sort)="onSort($event)">Patch</th>
                <th scope="col" sortable="log_url" (sort)="onSort($event)">Log</th>
                <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job_run of slicedJobRuns" [ngClass]="
                {'table-danger': job_run.status != 'SUCCESS',
                 'table-success': job_run.status == 'SUCCESS'}
                 ">
                <th scope="row">{{ job_run.date | date:'short' }}</th>
                <td>{{ job_run.reason }}</td>
                <td>
                    <a href="{{ job_run.review }}">
                        {{ job_run.review }}</a>
                </td>
                <td>
                    <a href="{{ job_run.log_url }}">{{ job_run.log_url }}</a>
                </td>
                <td>{{ job_run.status }}</td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination [collectionSize]="jobs.length" [(page)]="page"
        aria-label="Default pagination" (pageChange)="pageChangedEvent()">
    </ngb-pagination>
</ng-container>
<ng-container *ngIf="jobs.length == 0">
    <h3>No runs found</h3>
</ng-container>
