<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="main">TripleO Stats</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Job types</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ng-container *ngFor="let job_type of job_types">
                <button class="dropdown-item">{{ job_type.job_description }}</button>
            </ng-container>
        </div>
    </div>
</nav>
